.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5% 10%;
  background-color: white;
}

.header > .header-left {
  display: flex;
  align-items: center;
  background-color: white;
}

.header > .header-mid {
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 60%;
  background-color: white;
}

.header > .header-mid > input {
  border: none;
  outline: none;
  padding: 5px;
  flex: 1;
  background-color: white;
}

.header > .header-right {
  background-color: "white";
}
.header > .header-right > .icon {
  color: "red";
}

.hr-line {
  border-bottom: 1px solid #cdcdcd;
}
